<div class="pure-menu-heading">
  {{t 'test.admin_menu'}}
</div>
<div class="pure-menu-item">
  {{link-to (t 'links.categories') 'categories' class="pure-menu-link"}}
</div>
<div class="pure-menu-item">
  {{link-to (t 'links.products') 'products' class="pure-menu-link"}}
</div>
<div class="pure-menu-item">
  {{link-to (t 'links.pages') 'pages' class="pure-menu-link"}}
</div>

<button class="pure-button" {{action 'logout'}}>
  {{t 'buttons.logout'}}
</button>
