<div class="cart-label" {{action 'toggleCart'}}>
  {{#if productsNumber}}
    {{t 'cart.items_in_cart'}}
    <span class="items-number">
      {{productsNumber}}
    </span>
  {{else}}
    {{t 'cart.cart_is_empty'}}
  {{/if}}
</div>
{{#if cartIsOpen}}
  <div class="cart-content">
    <ul class="products-list">
    {{#each products as |product|}}
      <li>
        <span class="qty">
          {{product.qty}}
        </span>

        <span class="multi">
          &times;
        </span>

        {{#if product.images}}
          <span class="product-image">
            {{#link-to 'product' product.alias}}
              <img src="{{product.images.firstObject.url}}" class="pure-img">
            {{/link-to}}
          </span>
        {{/if}}
        <div class="content">
          <span class="title">
            {{#link-to 'product' product.alias}}
              {{product.title}}
            {{/link-to}}
          </span>

          <span class="multi">
              &times;
          </span>

          <span class="price">
            {{price product.price}}
          </span>
        </div>

        <a class="remove" href="" {{action 'removeProduct' product}}>&times;</a>
      </li>
    {{else}}
      <li class="empty">
        {{t 'cart.no_items'}}
      </li>
    {{/each}}
    </ul>
    {{#if productsNumber}}
      <div class="total-wrapper">
        <div>
          {{t 'cart.total'}}: {{price total}}
        </div>
        <div>
          {{link-to (t 'links.checkout') 'checkout'}}
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
