<div class="cart-label" {{action 'toggleCart'}}>
  {{#if productsNumber}}
    {{t 'cart.items_in_cart'}}
    <span class="items-number">
      {{productsNumber}}
    </span>
  {{else}}
    {{t 'cart.cart_is_empty'}}
  {{/if}}
</div>
{{#if cartIsOpen}}
  <div class="cart-content">
    <ul class="products-list">
    {{#each products as |product|}}
      <li>
        <span class="title">
          {{product.title}}
        </span>

        <span class="multi">
            &times;
        </span>

        <span class="price">
          {{price product.price}}
        </span>

        <button class="remove" {{action 'removeProduct' product}}>&times;</button>
      </li>
    {{else}}
      <li class="empty">
        {{t 'cart.no_items'}}
      </li>
    {{/each}}
    </ul>
    <div class="total-wrapper">
    {{t 'cart.total'}}: {{price total}}
    </div>
    <div>
    {{link-to 'links.checkout' 'checkout'}}
    </div>
  </div>
{{/if}}
