<div class="cart-label" {{action 'toggleCart'}}>
  {{#if productsNumber}}
    {{t 'cart.items_in_cart'}}
    <span class="items-number">
      {{productsNumber}}
    </span>
  {{else}}
    {{t 'cart.cart_is_empty'}}
  {{/if}}
</div>
{{#if cartIsOpen}}
  <div class="cart-content">
    <ul class="products-list">
    {{#each products as |product|}}
      {{cart-item product=product removeProduct=(action 'removeProduct')}}
    {{else}}
      <li class="empty">
        {{t 'cart.no_items'}}
      </li>
    {{/each}}
    </ul>
    {{#if productsNumber}}
      <div class="total-wrapper">
        <div>
          {{t 'cart.total'}}: {{price total}}
        </div>
        <div>
          {{link-to (t 'links.checkout') 'checkout'}}
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
