<div
    title={{t 'messages.drop_image_here'}}
    class="image-drop-area"
    ondragenter={{action 'dragEnter'}}
    ondragover={{action 'dragOver'}}
    ondragleave={{action 'dragLeave'}}
    ondrop={{action 'drop'}}
>
    {{#each images as |image|}}
        <div class="image-wrapper">
            <img src="{{image.url}}" class="pure-img" alt="">
            <div class="button-wrapper">
                <button {{action 'removeImage' image}} class="remove">
                    {{t 'buttons.remove'}}
                </button>
            </div>
        </div>
    {{else}}
        <p>
            {{t 'messages.empty'}}
        </p>
        <p>
            {{t 'messages.drop_image_here'}}
        </p>
    {{/each}}
</div>
{{yield}}
