{{#each images as |image|}}
    <img src="{{image.url}}" alt="">
{{else}}
    {{t 'no_images_yet'}}
{{/each}}

<div
    class="image-drop-area"
    ondragenter={{action 'dragEnter'}}
    ondragover={{action 'dragOver'}}
    ondragleave={{action 'dragLeave'}}
    ondrop={{action 'drop'}}
>
    {{t 'category.drop_image_here'}}
</div>
{{yield}}
