<h3>
  {{link-to product.title 'product' product.alias}}
</h3>

{{#if image}}
  <div class="image-wrapper">
    {{#link-to 'product' product.alias}}
      <img src="{{image.url}}" class="" alt="{{product.title}}">
    {{/link-to}}
  </div>
{{/if}}

{{yield}}

<div class="price price-wrapper">
  {{price product.price}}
</div>
