<h3>
  {{link-to product.title 'product' product.id}}
</h3>

{{#swiper-container class="images-wrapper"}}
  {{#each product.images as |image|}}
    <div class="swiper-slide">
      {{#link-to 'product' product.id}}
      <img src="{{image.url}}" class="pure-img" alt="">
      {{/link-to}}
    </div>
  {{/each}}
{{/swiper-container}}

{{yield}}

<div class="price-wrapper">
  {{t 'products.price_label'}} {{price product.price}}
</div>
