<h3>
  {{link-to product.title 'product' product.alias}}
</h3>

{{!-- {{#swiper-container class=""
    options=(hash
        effect='slide'
        height=3000
    )
  }}
  {{#each product.images as |image|}}
    <div class="swiper-slide">
      {{#link-to 'product' product.id}}
      <img src="{{image.url}}" class="pure-img" alt="">
      {{/link-to}}
    </div>
  {{/each}}
{{/swiper-container}} --}}

{{#if image}}
  <div class="image-wrapper">
    {{#link-to 'product' product.alias}}
      <img src="{{image.url}}" class="" alt="{{product.title}}">
    {{/link-to}}
  </div>
{{/if}}

{{yield}}

<div class="price price-wrapper">
  {{price product.price}}
</div>
