<form class="pure-form pure-form-aligned" {{action 'handleSubmit' on='submit'}}>
    <div class="pure-control-group">
        <label for="title">{{t 'forms.title.label'}}</label>
        {{input
          id="title"
          type="text"
          name="title"
          value=model.title
          placeholder=(t 'forms.title.placeholder')}}
    </div>

    {{image-drop-area
      images=images
      uploadImage=(action 'uploadImage')
      removeImage=(action 'removeImage')}}

    {{#each blocks as |block|}}
      <div class="pure-control-group">
        {{textarea value=block.content}}
      </div>
      <button type="button" {{action 'removeBlock' block}}>
        {{t 'buttons.remove_block'}}
      </button>
    {{/each}}

    <div class="pure-control-group">
      <button type="button" class="pure-button" {{action 'addBlock' 'category'}}>{{t 'buttons.add_block'}}</button>
    </div>

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">{{t 'buttons.submit'}}</button>
    </div>
</form>
