{{#if model.images}}
    {{#swiper-container class="images-wrapper full-width"
        options=(hash
            autoplay=5000
            freeMode=true
        )}}
        {{#each model.images as |image|}}
            <div class="swiper-slide">
                <img src="{{image.url}}" alt="">
            </div>
        {{/each}}
    {{/swiper-container}}
{{/if}}

<div class="center-wrapper content-wrapper category-page">
    <h1>
        {{model.title}}
    </h1>

    {{quick-links
        type='category'
        model=model
        remove=(action 'removeCategory')}}

    <div class="page-content">
        {{#each model.blocks as |block|}}
            {{page-block block=block}}
        {{/each}}

        {{#if model.products}}
        <div class="category-products">
            <h2>{{t 'category.products'}}</h2>
            {{#each model.products as |product|}}
                {{product-block product=product}}
            {{else}}
                {{t 'messages.empty'}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
