<h1>
    {{model.title}}
</h1>

{{#quick-links}}
    {{link-to (t 'links.category_edit') 'category.edit' model}}

    <button type="button" {{action 'removeCategory'}}>
        {{t 'buttons.remove_category'}}
    </button>
{{/quick-links}}

<div class="page-content">
    {{#each model.images as |image|}}
        <div class="image">
            <img src="{{image.url}}" class="pure-img" alt="">
        </div>
    {{/each}}

    {{#each model.blocks as |block|}}
        {{page-block block=block}}
    {{/each}}

    PRODUCTS
    {{#each model.products as |product|}}
        {{product-block product=product}}
    {{else}}
        {{t 'messages.empty'}}
    {{/each}}
</div>
