<h1>
    {{model.title}}
</h1>

{{#quick-links}}
    {{link-to (t 'links.product_edit') 'product.edit' model}}

    <button type="button" {{action 'removeProduct'}}>
        {{t 'buttons.remove_product'}}
    </button>
{{/quick-links}}

<div class="page-content">
    {{#swiper-container class="images-wrapper"}}
        {{#each model.images as |image|}}
            <div class="swiper-slide">
                <img src="{{image.url}}" class="pure-img" alt="">
            </div>
        {{/each}}
    {{/swiper-container}}

    {{t 'products.price'}} {{model.price}}

    {{#each model.blocks as |block|}}
        {{page-block block=block}}
    {{/each}}
</div>
