{{#if model.images}}
    {{#swiper-container class="images-wrapper full-width"
        options=(hash
            autoplay=5000
            freeMode=true
        )}}
        {{#each model.images as |image|}}
            <div class="swiper-slide">
                <img src="{{image.url}}" alt="">
            </div>
        {{/each}}
    {{/swiper-container}}
{{/if}}

<div class="center-wrapper content-wrapper product-page">
    <h1>
        {{model.title}}
    </h1>

    {{quick-links
        type='product'
        model=model
        remove=(action 'removeProduct')}}

    <div class="page-content">

        {{#each model.blocks as |block|}}
            {{page-block block=block}}
        {{/each}}

        <div class="price product-price">
            {{price model.price}}
        </div>

        <button class="pure-button button-add-to-cart" {{action 'addToCart'}}>
            {{t 'buttons.add_to_cart'}}
        </button>
    </div>
</div>
