<form class="pure-form pure-form-aligned" {{action 'handleSubmit' on='submit'}}>
  <div class="pure-control-group">
      <label for="title">{{t 'forms.title.label'}}</label>
        {{input
          id="title"
          type="text"
          name="title"
          value=title
          placeholder=(t 'forms.title.placeholder')}}
    </div>

    {{#each blocks as |block|}}
      <div class="pure-control-group">
        {{textarea value=block.content}}
      </div>
    {{/each}}

    <div class="pure-control-group">
      <button type="button" class="pure-button" {{action 'addBlock'}}>{{t 'buttons.add_block'}}</button>
    </div>

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">{{t 'buttons.submit'}}</button>
    </div>
</form>
