<div class="center-wrapper content-wrapper">
  <h1>
    {{t 'checkout.title'}}
  </h1>


  <h2>
    {{t 'checkout.cart_content'}}
  </h2>
  <ul class="checkout-cart-content">
    {{#each products as |product|}}
      {{cart-item product=product removeProduct=(action 'removeProduct')}}
    {{/each}}
  </ul>

  <div class="checkout-form">
    <form class="pure-form pure-form-stacked" {{action 'handleSubmit' on='submit'}}>
      <div class="pure-control-group">
        <label for="email">{{t 'forms.email.label'}}</label>
        {{input
          class="email"
          type="email"
          id="email"
          required="true"
          placeholder=(t 'forms.email.placeholder')
          value=email
          }}
      </div>

      <div class="pure-control-group">
        {{t 'checkout.or'}}
      </div>

      <div class="pure-control-group">
        <label for="phone">{{t 'forms.phone.label'}}</label>
        {{input
          class="phone"
          type="phone"
          id="phone"
          required="true"
          placeholder=(t 'forms.phone.placeholder')
          value=phone
          }}
      </div>

      <div class="pure-control-group">
        {{t 'checkout.we_contact_you_text'}}
      </div>

      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">{{t 'buttons.submit'}}</button>
      </div>
    </form>
  </div>
</div>

