<h1>
  {{t 'pages.title'}}
</h1>

<div class="quick-links">
  {{link-to (t 'links.create_page') 'page-create'}}
</div>

<ol>
  {{#each model as |page|}}
    <li>
      {{link-to page.title 'page' page}}
    </li>
  {{else}}
    {{t 'messages.empty'}}
  {{/each}}
</ol>
