<div class="center-wrapper content-wrapper">
  <h1>
    {{t 'pages.title'}}
  </h1>

  {{#quick-links}}
    {{link-to (t 'links.create_page') 'page-create'}}
  {{/quick-links}}

  <div class="pages-list">
    {{#each model as |page index|}}
      {{entity-description model=page index=(add index 1)}}
    {{else}}
      {{t 'messages.empty'}}
    {{/each}}
  </div>
</div>

{{liquid-outlet}}